<div class="home-container">
    <h1>Veja o que estão compartilhando</h1>
    <div class="search-container">
        <form>
            <fa-icon [icon]="faSearch"></fa-icon>
            <input type="text" placeholder="Ou busque por um momento..." (input)="search($event)">
        </form>
    </div>

    <div *ngIf="moments.length > 0; else noMoments">
        <div class="moments-container">
            <div *ngFor="let moment of moments" class="moment">
                <img src="{{baseUrl}}/uploads/{{moment.image}}" alt="">
                <h3>{{moment.title}}</h3>
                <p class="date">Em: {{moment.created_at}}</p>
                <p>Comentários: {{moment.comments!.length}}</p>
                <a [routerLink]="['/moments/', moment.id]" routerLinkActive="router-link-active">Detalhes</a>
            </div>
        </div>
    </div>

    <ng-template #noMoments>
        <h1>Não há momentos cadastrados!</h1>
    </ng-template>
</div>